.qv-object-qs-advanced-filter .qv-inner-object {
  padding: 0px !important;
  background-color: transparent !important;
}
.chart-container {
  height: 100%;
}
/* dropdown css*/
.chart-container .dropdown-toggle {
  font-size: 0.75rem;
  padding: 0px;
  min-width: 0;
  transition: all 0.35s ease;
  text-align: left;
}
.chart-container .dropdown-toggle span {
  padding: 0px 6px;
  pointer-events: none;
}
.dropdown-list {
  position: relative;
  z-index: 1090;
}
.dropdown-list .listbox {
  display: none;
  position: fixed;
}

.dropdown-list .listbox .listboxprops {
  max-height: 300px;
}

.dropdown-list .listbox.active {
  display: block;
}
.dropdown-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #bebebe;
}
.dropdown-header button,
.lui-button--danger:focus,
.lui-button--success:focus {
  margin: 0 0.4rem;
  padding: 0 12px;
  border: none;
}
.rm-pointer-events {
  pointer-events: none;
}
.iconsMenu {
  margin-left: -12px;
}
.dropdown-listbox-selection-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #a6a6a6;
  border-bottom-color: #d9d9d9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.dropdown-selection-toolbar button,
.lui-button--danger:focus,
.lui-button--success:focus {
  margin: 0 0.4rem;
  padding: 0 12px;
  border: none;
  width: auto;
}
/* listbox css */
.listbox-selection-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  border: 1px solid #a6a6a6;
  border-bottom-color: #d9d9d9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.listbox-selection-toolbar button,
.lui-button--danger:focus,
.lui-button--success:focus {
  margin: 0 0.4rem;
  padding: 0 12px;
  border: none;
  width: auto;
}
.listbox {
  position: relative;
  height: inherit;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.listboxprops {
  width: 100%;
  overflow-y: scroll;
}

.listboxprops #loadMore {
  margin: 0 auto;
}
.paginate-button-item {
  top: 0.5rem;
}
.listbox .list-item {
  display: block;
  list-style: none;
  cursor: pointer;
  word-wrap: normal;
  /*border-bottom: 1px solid #ddd;*/
  box-sizing: border-box;
  padding: 3px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-between;
}
.listbox .list-item.pushText {
  padding-left: 30px;
}

.list-item-frequency {
  float: right;
}

.label-header .search-icon {
  color: #595959;
  flex: none;
  font-size: 12px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  width: 22px;
  opacity: 0.6;
}
.label-header .search-icon:hover {
  opacity: 0.8;
}
.search-container {
  display: flex;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
.search-input {
  background: #0000;
  border: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  font-size: 13px;
  height: 38px;
  width: 100%;
  min-width: 0;
  outline: 0;
  padding: 0 10px;
}
#searchClearButton {
  float: right;
  cursor: pointer;
}

.select-header {
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
}
.list-item .highlightedText {
  background-color: yellow;
}

/* button group css*/
.buttongroup {
  position: relative;
  height: inherit;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: white;
  overflow-y: auto;
}
.buttongroup-selection-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.buttongroup-selection-toolbar button,
.lui-button--danger:focus,
.lui-button--success:focus {
  margin: 0 0.4rem;
  padding: 0 12px;
  border: none;
  width: auto;
}
.buttongroupprops {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.buttongroupprops #loadMore {
  margin: 10px auto;
}
.button-item {
  position: relative;
  overflow-y: auto;
  background-color: initial;
  box-sizing: border-box;
  color: #595959;
  cursor: pointer;
  line-height: 24px;
  min-width: 28px;
  outline: none;
  padding: 0 15px;
  top: 10px;
  transition: border-color 0.2s ease-out;
  vertical-align: middle;
}
.button-item .button-item-frequency {
  float: right;
}
.button-item:hover {
  box-shadow: 0 0 8px rgba(0, 128, 0, 0.1);
  font-weight: bold;
}
.button-item.stateS:hover {
  color: white !important;
  border: 1px solid white !important;
  font-weight: normal !important;
}
.label-header .selectionsMenu {
  border-radius: 3px;
  z-index: 102;
  opacity: 0.2;
}
.label-header .selectionsMenu:hover {
  cursor: pointer;
  opacity: 0.8;
}
.selectionsMenuItems {
  cursor: pointer;
  line-height: 38px;
  font-size: 11px !important;
  border-bottom: 1px solid #d9d9d9;
}
/* Create a custom checkbox */
.listboxprops .list-item .checkbox {
  height: 1rem;
  width: 1rem;
  left: 3px;
  background-color: #eee;
  display: block;
  position: absolute;
  border: 1px solid #8c8c8c;
}

/* On mouse-over, add a grey background color */
.listboxprops .list-item .checkbox:hover {
  background-color: #ccc;
}

/* Create a custom radioBtn */
.listboxprops .list-item .radiobtn {
  height: 1rem;
  width: 1rem;
  left: 3px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  position: absolute;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.listboxprops .list-item .radiobtn:hover {
  background-color: #ccc;
}
/* When the radiobutton is checked, add a tick */
.listboxprops .list-item.S .radiobtn::before {
  content: "\2B24";
  top: -1.5px;
  position: absolute;
}
/* Change Scrollbar style */
.listbox::-webkit-scrollbar,
.listboxprops::-webkit-scrollbar {
  height: 12px;
  width: 0.4em;
  border-radius: 4px;
}
.listbox::-webkit-scrollbar,
.listboxprops::-webkit-scrollbar-track {
  background: #f2f2f2;
}
.listbox::-webkit-scrollbar,
.listboxprops::-webkit-scrollbar-thumb {
  background: #ddd;
}
.listbox::-webkit-scrollbar,
.listboxprops:hover::-webkit-scrollbar-thumb {
  background: #bbb;
}
.listbox::-webkit-scrollbar,
.listboxprops::-webkit-scrollbar-thumb:horizontal:hover,
.listbox::-webkit-scrollbar,
.listboxprops::-webkit-scrollbar-thumb:vertical:hover {
  background: #999;
  cursor: pointer;
}
.listbox::-webkit-scrollbar,
.listboxprops::-webkit-scrollbar-thumb:horizontal:active,
.listbox::-webkit-scrollbar,
.listboxprops::-webkit-scrollbar-thumb:vertical:active {
  background: #ccc;
}

.buttongroup::-webkit-scrollbar,
.buttongroupprops::-webkit-scrollbar {
  height: 12px;
  width: 0.4em;
  border-radius: 4px;
}
.buttongroup::-webkit-scrollbar,
.buttongroupprops::-webkit-scrollbar-track {
  background: #f2f2f2;
}
.buttongroup::-webkit-scrollbar,
.buttongroupprops::-webkit-scrollbar-thumb {
  background: #ddd;
}
.buttongroup::-webkit-scrollbar,
.buttongroupprops:hover::-webkit-scrollbar-thumb {
  background: #bbb;
}
.buttongroup::-webkit-scrollbar,
.buttongroupprops::-webkit-scrollbar-thumb:horizontal:hover,
.buttongroup::-webkit-scrollbar,
.buttongroupprops::-webkit-scrollbar-thumb:vertical:hover {
  background: #999;
  cursor: pointer;
}
.buttongroup::-webkit-scrollbar,
.buttongroupprops::-webkit-scrollbar-thumb:horizontal:active,
.buttongroup::-webkit-scrollbar,
.buttongroupprops::-webkit-scrollbar-thumb:vertical:active {
  background: #ccc;
}
/* State bar */
.state-count-bar {
  border-top-width: 1px;
  flex: 0 0 auto;
  height: 4px;
  background: #a9a9a9;
  border: 0 solid #ccc;
  width: 100%;
}
.state-count-bar .state {
  float: left;
  height: 100%;
}
